# Regular dependencies
pydantic
openai
google
anthropic
PyYAML
toml
python-dotenv
matplotlib
nbformat

# Editable installs (local paths or Git repos)
-e file:///C:/Users/gillt/Documents/Python/prompt_chain
-e file:///C:/Users/gillt/Documents/Python/pptx_layout_engine
